input.search {
	width: 300px;
	display: block;
}

.skills {
	width: 33%;
	display: inline-block;
	vertical-align: top;

	textarea {
		display: block;
	}

	li {
		list-style-type: none;
	}

	.notes {

		textarea {
			width: 100%;
			height: 135px;
			resize: none;
		}
	}

	button {
		margin-top: 8px;
		margin-bottom: 10px
	}
}

.editable-click {
	border: dashed 1px #428bca;
	line-height: 19.8px;
}