<div class="row" id="profile">
    <div class="col-sm-12">
        <div class="page-header"><h1>Skills</h1></div>
        <div>This is where you can track techniques you've practiced, add new combos you've learned, and write notes.</div>
        <!-- This is a single page app for all skills -->
        <div class="container-fluid ng-scope" ng-controller="SkillsCtrl">
            <div class="skills" ng-repeat="division in skillDivisions">
                <h2>{{ division.name }}</h2>
                <ul>
                    <li ng-repeat="category in division.categories">
                        <h3>{{ category.name }}</h3>
                        <ul>
                            <li class="skill" ng-repeat="skill in category.types">
                                <div class="skill-name">
                                    <label>{{ skill.name }}</label>
                                    <!-- Progress bar here-->
                                </div>
                                <div class="reps">
                                    <label>Reps:</label>
                                    <input type="number" ng-model="skill.count" ng-blur="update(skillDivisions)" />
                                </div>
                                <div class="notes">
                                    <label>Notes:</label>
                                    <textarea ng-model="skill.notes" ng-blur="update(skillDivisions)">{{ skill.notes }}</textarea>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <button type="submit" ng-click="save(skillDivisions)">Save</button>
            </div>
        </div>
    </div>
</div>

